# Stock Data Scraper Function

In [1]:
import pandas as pd
import os
#%pip install pytrends
import pytrends
from pytrends.request import TrendReq
#pip install pageviewapi
import pageviewapi
#%pip install yfinance
import yfinance as yf

In [2]:
def Big_scraper(kw_list, ticker, start,end):
    
    """
    Description:
    ------------
    
    The function initially grabs historical, indexed, hourly data for when the keyword 
    was searched most as shown on Google Trends' Interest Over Time section.
    It then cleans the data to show daily hits on the keyword in Google news.

    
    input:
    -----
    kw_list: List of up to 5 key words that will be scraped from the timeline given to the function.
             Here, the scraping will pull the total posted items in google news. the contains
             one of the key words.
    
    ticker: the ticker abriviation of the desired stock. Must be netered in as an all capitalized string 
    example Apple Inc. woud be "AAPL"
             
    start: the start of the desired timeline you want scrape. Date Must be entered in as "YYYYMMDD"
    
    end: the end of the desired timeline you want scrape. Date Must be entered in as "YYYYMMDD"
             
    return:
    -------
    
    combined: a dataframe containing the sum of the daily keyword hits in google news (key words labeled _x),
    
    data frame cointaing stock info including open, close, high, low prices of the stock,
    as well as the stocks daily trading volume and the amount if there was a split or dividend 
    preformed on the stock that day,
    
    and the sum of how many times key word wikipedia pages were viewed in a day (key words labeled _y)
    """
    
    year_s = int(start[0:4])
    month_s = int(start[4:6])
    day_s = int(start[6:8])
    year_e = int(end[0:4])
    month_e = int(end[4:6])
    day_e = int(end[6:8])
    
    starter = pd.to_datetime(f"'{year_s}-{month_s}-{day_s}'")
    ender = pd.to_datetime(f"'{year_e}-{month_e}-{day_e}'")
    
    
    pytrends = TrendReq(hl='en-US', tz=360, retries=10)
    jeff = pytrends.get_historical_interest(kw_list, \
                                 year_start = year_s, month_start = month_s, day_start = day_s, hour_start = 1, \
                                 year_end = year_e, month_end = month_e, day_end = day_e, hour_end = 23, \
                                 cat = 0, geo = '', gprop = 'news', sleep = 60)
    
    jeff = jeff.iloc[:, 0:-1] # eliminates the isPartial Column
    jeff = jeff.reset_index().drop_duplicates(subset = "date") #removing duplicates from the index
    jeff = jeff.groupby(pd.Grouper(key="date", freq="D")).sum() # coverts to the sum of daily posts
    
    tick = yf.Ticker(ticker)
    hist = tick.history(start=starter, end=ender)
    hist = pd.DataFrame(hist)
    
    combined = jeff.merge(hist, left_index=True, right_index=True, how="left") 
    
    d = pd.DataFrame()
    for key_word in kw_list:
        geoff = pageviewapi.per_article('en.wikipedia', key_word, start, end,
                                    access='all-access', agent='all-agents', granularity='daily')
        dicty = dict(geoff)
        views = pd.DataFrame(dicty["items"])
        views["timestamp"] = pd.to_datetime((views["timestamp"]), format="%Y%m%d%H")
        views = views.set_index("timestamp")
        page = pd.Series(views["views"])
        d[key_word] = page
        
    combined = combined.merge(d, left_index=True, right_index=True, how="left") 
    
    return combined

In [4]:
#example pull
kw_list = ["Apple", "Apple Inc.", "IPhone", "MacBook", "MacOS"]
Big_scraper(kw_list,"AAPL","20211201","20211214")

,Apple_x,Apple Inc._x,IPhone_x,MacBook_x,MacOS_x,Open,High,Low,Close,Volume,Dividends,Stock Splits,Apple_y,Apple Inc._y,IPhone_y,MacBook_y,MacOS_y
date,,,,,,,,,,,,,,,,,
2021-12-01,425,0,459,50,6,167.266892,170.083311,164.320648,164.560349,152052500.0,0.0,0.0,8237,14391,8014,704,133006
2021-12-02,539,0,614,29,0,158.538019,163.991063,157.599213,163.551620,136739200.0,0.0,0.0,8299,14364,8072,619,42741
2021-12-03,389,0,411,65,6,163.811298,164.750104,159.516766,161.634064,118023100.0,0.0,0.0,8040,13359,7546,559,37979
2021-12-04,385,0,594,34,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7673,11606,7311,604,26680
2021-12-05,435,0,512,26,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7810,12245,7586,588,26376
2021-12-06,351,0,453,109,0,164.080946,167.666390,164.070964,165.109650,107497000.0,0.0,0.0,8442,13862,8381,666,29177
2021-12-07,393,0,432,54,0,168.864855,171.361674,168.125791,170.962173,120405400.0,0.0,0.0,8838,14563,8188,673,30195
2021-12-08,362,0,571,65,0,171.910980,175.736109,170.482792,174.857224,116998900.0,0.0,0.0,8616,14027,7697,600,31921
2021-12-09,431,0,657,57,0,174.687436,176.525091,173.698690,174.337875,108923700.0,0.0,0.0,8899,13975,7590,609,34417
2021-12-10,532,0,595,16,0,174.987069,179.401443,174.467727,179.221664,115402700.0,0.0,0.0,8625,12530,7226,518,32524
2021-12-11,350,0,871,73,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7749,11235,6981,529,31188
2021-12-12,374,0,538,71,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7720,11840,6805,573,31098
2021-12-13,457,0,421,59,0,180.889532,181.898256,175.306648,175.516388,153237000.0,0.0,0.0,8468,13919,7691,600,34395
2021-12-14,537,0,532,33,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8453,14161,7677,607,30530

## Individual Functions (with examples)

In [350]:
def google_trends(kw_list, year_start, month_start, year_end, month_end, day_end, day_start=1, hour_start=0, hour_end=23):
    
    """
    Description:
    ------------
    
    The function initially grabs historical, indexed, hourly data for when the keyword 
    was searched most as shown on Google Trends' Interest Over Time section.
    It then cleans the data to show daily hits on the keyword in Google news.

    
    input:
    -----
    kw_list: List of up to 5 key words that will be scraped from the timeline given to the function.
             Here, the scraping will pull the total posted items in google news. the contains
             one of the key words.
             
    Rest of the varibles are self-explatory and used to set the timeline to scrape the key words. 
    
    Plug in as decribed 
    year_start / end: YYYY int
    month_start / end: M int
    day_start /  end: D int
    hour_start / end: H int
    
             
    return:
    -------
    
    jeff: a dataframe containing the sum of the daily keyword hits in google news
    """
    
    pytrends = TrendReq(hl='en-US', tz=360, retries=10)
    jeff = pytrends.get_historical_interest(kw_list, \
                                 year_start = year_start, month_start = month_start, day_start = day_start, hour_start = hour_start, \
                                 year_end = year_end, month_end = month_end, day_end = day_end, hour_end = hour_end, \
                                 cat = 0, geo = '', gprop = 'news', sleep = 60)
    
    jeff = jeff.iloc[:, 0:-1] # eliminates the isPartial Column
    jeff = jeff.reset_index().drop_duplicates(subset = "date") #removing duplicates from the index
    jeff = jeff.groupby(pd.Grouper(key="date", freq="D")).sum() # coverts to the sum of daily posts
    
    return jeff

In [351]:
jeff1= google_trends(kw_list, 2021, 12, 2021, 12, 31)

In [249]:
kw_list = ["Apple", "Apple Inc.", "IPhone", "MacBook", "MacOS"]

In [335]:
def stock_stats(ticker: str, start_date: str, end_date: str):
    """
    Description: Scrapes historial daily stock data from the Yahoo Fince sight
    and returns a dataframe containing daily open, close, high, low prices of the stock,
    as well as the stocks daily trading volume and the amount if there was a split or dividend 
    preformed on the stock that day.
    
    inputs:
    ------
    ticker: the ticker abriviation of the desired stock. Must be netered in as an all capitalized string 
    example Apple Inc. woud be "AAPL"
    
    start_date: the start of the desired timeline you want scrape. Date Must be entered in as "YYYY-MM-DD"
    
    end_date: Self explanetory, Date Must be entered in as "YYYY-MM-DD"
    
    return:
    ------
    hist: dataframe containing open, close, high, low prices of the stock,
    as well as the stocks daily trading volume and the amount if there was a split or dividend 
    preformed on the stock that day. 
    
    """
    
    tick = yf.Ticker(ticker)
    hist = tick.history(start=start_date, end=end_date)
    hist = pd.DataFrame(hist)
    return hist

In [381]:
jeff4 = stock_stats("AAPL", larry, "2021-12-31")

In [320]:
def wiki_scraper(kw_list: list, start_date: str, end_date: str):
    '''
    Description: Pulls the sum of how many times a wikipedia page was viewed that day
    
    inputs:
    ------
    
    kw_list: list of wikipedia page names to be scrpapped, can be of unlimted length
    
    start_date: the start of the desired timeline you want scrape. Date Must be entered in as "YYYYMMDD"
    
    end_date: the end of the desired timeline you want scrape. Date Must be entered in as "YYYYMMDD"
    
    '''
    d = pd.DataFrame()
    for key_word in kw_list:
        geoff = pageviewapi.per_article('en.wikipedia', key_word, start_date, end_date,
                                    access='all-access', agent='all-agents', granularity='daily')
        dicty = dict(geoff)
        views = pd.DataFrame(dicty["items"])
        views["timestamp"] = pd.to_datetime((views["timestamp"]), format="%Y%m%d%H")
        views = views.set_index("timestamp")
        page = pd.Series(views["views"])
        d[key_word] = page
        
    return d

In [355]:
jeff3 = wiki_scraper(kw_list, '20211201', '20211231')
jeff3.head()

            Apple  Apple Inc.  IPhone  MacBook   MacOS
timestamp
2021-12-01   8237       14391    8014      704  133006
2021-12-02   8299       14364    8072      619   42741
2021-12-03   8040       13359    7546      559   37979
2021-12-04   7673       11606    7311      604   26680
2021-12-05   7810       12245    7586      588   26376

In [341]:
def joiner(google_trends, yahoo_finace, wiki_pagecount):
    """
    Description: joins all stock data sets into one dataframe
    
    input:
    ------
    google_trends: data frame counting daily hit counts for google news stories on specific key words
    
    yahoo_finace: data frame cointaing stock info including open, close, high, low prices of the stock,
    as well as the stocks daily trading volume and the amount if there was a split or dividend 
    preformed on the stock that day.
    
    wiki_pagecount: the sum of how many times key wikipedia pages were viewed in a day
    """
    
    combined = google_trends.merge(yahoo_finace, left_index=True, right_index=True, how="left")
    combined = combined.merge(wiki_pagecount, left_index=True, right_index=True, how="left")
    return combined

In [353]:
joiner(jeff1,jeff2,jeff3)

,Apple,Apple Inc._x,IPhone,MacBook,MacOS,Open,High,Low,Close,Volume,Dividends,Stock Splits,Apple Inc._y,Dog,War
date,,,,,,,,,,,,,,,
2021-12-01,460,0,476,50,6,167.266892,170.083311,164.320648,164.560349,152052500.0,0.0,0.0,14391,9944,1850
2021-12-02,539,0,614,29,0,158.538019,163.991063,157.599213,163.551620,136739200.0,0.0,0.0,14364,10203,1750
2021-12-03,389,0,411,65,6,163.811298,164.750104,159.516766,161.634064,118023100.0,0.0,0.0,13359,9681,1645
2021-12-04,385,0,594,34,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11606,7821,1647
2021-12-05,435,0,512,26,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12245,8172,1615
2021-12-06,351,0,453,109,0,164.080946,167.666390,164.070964,165.109650,107497000.0,0.0,0.0,13862,9817,1967
2021-12-07,393,0,432,54,0,168.864855,171.361674,168.125791,170.962173,120405400.0,0.0,0.0,14563,10431,1946
2021-12-08,364,0,573,65,0,171.910980,175.736109,170.482792,174.857224,116998900.0,0.0,0.0,14027,9731,1880
2021-12-09,431,0,657,57,0,174.687436,176.525091,173.698690,174.337875,108923700.0,0.0,0.0,13975,9963,1740
2021-12-10,532,0,595,16,0,174.987069,179.401443,174.467727,179.221664,115402700.0,0.0,0.0,12530,9269,1510
2021-12-11,350,0,871,73,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11235,7712,1376
2021-12-12,374,0,538,71,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11840,7630,1560
2021-12-13,457,0,421,59,0,180.889532,181.898256,175.306648,175.516388,153237000.0,0.0,0.0,13919,8981,2140
2021-12-14,537,0,532,33,10,175.027012,177.513850,171.990887,174.108185,139380400.0,0.0,0.0,14161,9495,2005
2021-12-15,447,0,699,84,11,174.887183,179.271596,172.090743,179.071854,131063300.0,0.0,0.0,14226,9672,1876
2021-12-16,666,0,840,92,11,179.051874,180.909508,170.532729,172.040802,150185800.0,0.0,0.0,13559,9607,1800
2021-12-17,599,0,698,11,0,169.713774,173.249278,169.474089,170.922241,195432700.0,0.0,0.0,11702,8369,1605
2021-12-18,593,0,947,85,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10661,7657,1374
2021-12-19,573,0,874,54,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11271,7832,1548
2021-12-20,518,0,886,83,10,168.065866,170.362942,167.246917,169.533997,107499100.0,0.0,0.0,16144,7998,1672
2021-12-21,496,0,811,102,0,171.341694,172.979606,168.904796,172.769882,91185900.0,0.0,0.0,12689,7448,1643
2021-12-22,421,0,611,35,0,172.819806,175.636225,171.930939,175.416504,92135300.0,0.0,0.0,12250,7317,1456
2021-12-23,443,0,511,80,0,175.626249,176.624977,175.046985,176.055695,68356600.0,0.0,0.0,13702,7203,1455
2021-12-24,438,0,544,83,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057,7229,1342
2021-12-25,449,0,742,87,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12539,6936,1181
2021-12-26,430,0,910,32,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13112,7087,1383
2021-12-27,388,0,620,32,0,176.864657,180.190422,176.844694,180.100540,74919600.0,0.0,0.0,14226,7314,1287
2021-12-28,433,0,539,35,7,179.930762,181.099272,178.302832,179.061859,79144300.0,0.0,0.0,15813,7723,1451
2021-12-29,493,0,783,77,10,179.101809,180.400158,177.913321,179.151749,62348900.0,0.0,0.0,14317,7295,1480
2021-12-30,732,10,761,72,0,179.241640,180.340246,177.863391,177.973251,59773000.0,0.0,0.0,12444,7288,1568
2021-12-31,500,0,729,47,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10103,6870,1400