Toy notebook - look into teting the "project" code on FORD data

In [2]:
import pandas as pd
import tensorflow as tf
import sklearn as sk

In [8]:
ford = pd.read_csv(r"C:\Users\alexa\CSS_Machine Learning_Spring 2022\Project\Stock-Predictions\Jack\2021_Ford_Data.csv")

In [11]:
ford.dtypes

date                   object
Ford                  float64
F-150                 float64
Ford Bronco_x         float64
Ford Mustang_x        float64
Ford Stock            float64
Open                  float64
High                  float64
Low                   float64
Close                 float64
Volume                float64
Dividends             float64
Stock Splits          float64
Ford Motor Company      int64
Ford Mustang_y          int64
Ford F Series         float64
Ford Bronco_y           int64
Lincoln Navigator       int64
Lincoln Aviator         int64
Ford GT                 int64
dtype: object

In [12]:
ford.head()

,date,Ford,F-150,Ford Bronco_x,Ford Mustang_x,Ford Stock,Open,High,Low,Close,Volume,Dividends,Stock Splits,Ford Motor Company,Ford Mustang_y,Ford F Series,Ford Bronco_y,Lincoln Navigator,Lincoln Aviator,Ford GT
0,2021-01-01,25.739130,0.0,0.000000,0.913043,1.347826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4819,3186,6.0,1724,653,766,1967
1,2021-01-02,23.125000,0.0,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5138,3312,4.0,1667,779,1209,1915
2,2021-01-03,16.000000,0.0,1.958333,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5356,3576,12.0,1774,746,1109,1842
3,2021-01-04,23.666667,0.0,2.791667,1.916667,0.000000,8.721023,8.750720,8.344861,8.433952,85043100.0,0.0,0.0,5467,3276,7.0,1574,728,734,1640
4,2021-01-05,18.416667,0.0,1.666667,0.625000,0.000000,8.384458,8.631933,8.374559,8.562639,70127800.0,0.0,0.0,5402,3294,12.0,1613,676,704,1510

In [18]:
ford["Close"].apply(lambda x: 1 if ford["Close"].shift(1) - ford["Close"] > 0 else 0)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [21]:
ford["Close"].shift() - ford["Close"]

0           NaN
1           NaN
2           NaN
3           NaN
4     -0.128687
         ...
360         NaN
361    0.039795
362    0.198977
363    0.089540
364         NaN
Name: Close, Length: 365, dtype: float64